<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Mammarella</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="preview-cost" class="nav-link"
          >Preview Employee Benefit Cost</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="lookup-cost" class="nav-link"
          >Lookup Existing Employee Benefit Cost</a
        >
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
